.host {
    display: flex;
    justify-content: column;
}
li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    align-items: center;
}
li span {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
