.header {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(196, 235, 255);
    background-color: rgb(129, 217, 252);
}

.header h1 {
    margin: 0;
    padding: 0;
}
